@charset "utf-8";

div .right.carousel-control .glyphicon.glyphicon-chevron-right {
	color: blue;
}
div .right.carousel-control .glyphicon.glyphicon-chevron-left {
	color: blue;
}
#myCarousel .carousel {
	height: auto;
	min-width: 100%;
}
#myCarousel .carousel-inner .item.active {
	height: auto;
	min-width: 100%;
}
#myCarousel .carousel-inner .item {
	height: auto;
	min-width: 100%;
}
#myCarousel .carousel-inner > .item.active > img {
		position: absolute;
		top: 0;
		left: 0;
		height: auto;
		min-width: 100%;
}
#myCarousel .carousel-inner > .item > img {
		position: absolute;
		top: 0;
		left: 0;
		height: auto;
		min-width: 100%;
}