@charset "utf-8";
/* CSS Document */
.titlesection {
	color: #000000;
	background-color: #FFFFFF;
	font-size: 24px;
}
.subtitlesection {
	color: aqua;
	background-color: #FFFFFF;
	font-size: 20px;
}
.hero {
	
	background-color: #000000;
	height: 200px;
	line-height: 200px;
	font-size: 24px;
}